@import "tailwindcss";

:root {
    --niner-green: #046A38;
    --niner-gold: #A49665;
    .outlined-text {
        text-shadow: 
            1px 1px 2px black, 
            -1px -1px 2px black, 
            1px -1px 2px black, 
            -1px 1px 2px black;
        }
    
    html, body {
        overflow-x: hidden;
        }
    
        ::-webkit-scrollbar {
            display: none;
            }
            
        .scroll-hide {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;     /* Firefox */
        }

}